.quiz-history-container {
  margin: 20px 40px;
}
.quiz-history-container h2{
  text-align: center;
  margin: 40px 0px;
  color: #ee9b9b;
 
}

.history-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border:none;
  outline: none;
  padding: 10px 20px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border-radius: 4px;
  cursor: pointer;
  background-color: #eee9e9;
}
.history-item p {
  margin: 5px 10px;
}
.history-item div {
  border-left: 2px dashed gray !important;
 
}

.history-item div:last-child{
text-align: center;
}

@media (max-width: 480px) {
  .history-item {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  }
}
