.quizcontainers {
  margin: 40px;
}

.quizcontainers .instructions {
  background-color: #f0f0f0;
  border-radius: 5px;
  padding: 20px;
}
.instruction_list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.quizcontainers .instructions h4 {
  color: rgb(22, 15, 3);
  margin: 0px !important;
}

.quizcontainers .instructions ul {
  color: rgb(145, 143, 141);
  padding: 20px;
}

.quizcontainers .instructions ul li {
  margin-bottom: 10px;
}
.timer-container span{
  color: rgb(161, 158, 152);
  font-weight: 500;
  font-style: italic;
  margin: 10px 0px;
}

.agree-checkbox {
  margin-top: 20px;
}

.agree-checkbox label {
  font-size: 16px;
}
.agree-checkbox input[type="checkbox"] {
  margin: 4px;
}

.timer-container {
  margin-left: 100px;
}
.palette-button {
  position: absolute;
  top: -40px;
  right: 20px;
  z-index: 1000;
}

.timer-container {
  position: relative;
}

.palette-modal {
  position: absolute;
  top: 40%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  border-radius: 10px;
  outline: none;
}

.palette-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
}

.close-button {
  float: right;
  background: red;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.headingpalatte {
  font-size: 25px;
  color: #c9b7f3;
  text-shadow: none;
}

.palette-questions {
  margin-top: 20px;
  display: flex;
  justify-content: flex-start;
  width: 320px;
  flex-wrap: wrap;
}

.palette-question {
  cursor: pointer;
  width: 41px;
  height: 40px;
  background-color: #ccc;
  padding: 4px;
  border: none;
  border-radius: 0px 10px 0px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3px 2px;
}

.palette-question.blankfill {
  background-color: red !important;
}
