.demo-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.demo-modal-content {
  background-color: #fff;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 8px;
  max-width: 800px;
  width: 100%;
  position: relative;
}
.demo-modal-content h2 {
  color: rgb(194, 169, 169);
  text-shadow: 2px 2px 4px rgba(130, 10, 230, 0.3);
}

.democlose {
  border-radius: 50%;
  background-color: rgb(196, 192, 187);
  height: 34px;
  width: 34px;
  border: none;
  outline: none;
  font-size: 15px;
  font-weight: bold;
  padding: 8px;
  text-align: right;
  display: flex;
  justify-content: center;
  align-items: center;
  float: right;
  transition: all 0.5s ease;
}

.democlose:hover {
  background-color: rgb(160, 156, 151);
  color: white;
  cursor: pointer;
  box-shadow: 2px 2px 4px rgba(130, 10, 230, 0.3);
}

.form-group label {
  font-weight: 500;
  color: #007bff;
}
.form-group textarea {
  resize: none;
}

.form-control {
  border-radius: 0px;
  background-color: #f7f7f7;
  border: 1px solid #ced4da;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}
.form-select {
  border-radius: 0px;
  background-color: #f7f7f7;
  border: 1px solid #ced4da;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1) !important;
}
.form-control:focus {
  border-color: #007bff;
  box-shadow: none !important;
  outline: none !important;
}

@media (max-width: 768px) {
  .demo-modal {
    top: 80px;
  }
}

@media (max-width: 576px) {
  .demo-modal-content {
    padding: 100px 20px;
    width: 100%;
    top: 120px;
    margin: 20px 0px;
  }

  .demo-close {
    top: 70px;
  }
}
