.infocourses-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 40px 30px;
  background-color: #fff;
}

.infocourse-block {
  width: calc(25% - 20px);
  margin: 10px;
  padding-right: 10px;
}

.infocourse-block img {
  width: 100px;
  height: auto;
}

.infocourse-text h3 {
  margin-bottom: 10px;
  font-size: 18px;
  color: gray;
}

.infocourse-block h3 {
  color: rgb(109, 106, 106);
  text-shadow: 2px 1px 2px rgba(0, 0, 0, 0.5); 
}
.infocourse-text p {
  margin-bottom: 15px;
  color: #666;
  font-size: 18px;
  text-align: justify !important;
}

.infocourse-block ul {
  list-style: none;
  padding: 0;
  text-decoration: none;
}

.infocourse-block ul li a {
  margin-bottom: 5px;
  color: #666;
  text-decoration: none;
  font-weight: 400;
  font-size: 17px;
}
.infocourse-block ul li a:hover {
  color: #2688eb;
}

.subscribe-form {
  display: flex;
  align-items: center;
  margin-top: 15px;
}

.input-with-icon {
  position: relative;
  width: 100%;
}

.subscribe-form .form-control {
  width: 100%;
  padding-right: 40px;
  padding: 8px;
  border: 1px solid #ced4da;
  border-radius:30px !important;
}

.subscribe-form .icon-button {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  background: none;
  border: none;
  padding: 0 10px;
  cursor: pointer;
  color: black;
  display: flex;
  border-radius:30px;
  align-items: center;
  background-color: #2688eb;
}

.icon-button:hover {
  color: #e0a72a;
}

@media (max-width: 768px) {
  .infocourse-block {
    width: calc(50% - 20px);
    margin: 10px;
  }
}

@media (max-width: 576px) {
  .infocourse-block {
    width: 100%;
    border-bottom: 1px solid gray;
    margin-top: 2px;
    padding: 10px 4px;
  }
  .subscribe-form {
    flex-direction: column;
    align-items: stretch;
  }
  .input-with-icon .form-control {
    padding-right: 40px;
  }
  .icon-button {
    padding: 0 10px;
  }

  .infocourse-text h3 {
    margin-bottom: 10px;
    font-size: 14px;
  }
}
